.fixed{
	position: fixed;
}
.tblr{
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.bg-white{
	background: white;
}
.flex{
	display: flex;
}
.a-center{
	align-items: center;
}

.w100{
	width: 100%;
}
.h100{
	height: 100%;
}
.inline-block{
	display: inline-block;
}
.nowrap{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.flex1{
	flex: 1;
}
.flex-shrink{
	flex-shrink: 0;
}
.j-center{
	justify-content: center;
}
.j-start{
	justify-content: flex-start;
}
.j-end{
	justify-content: flex-end;
}
.j-between{
	justify-content: space-between;
}
.a-center{
	align-items: center;
}
.a-start{
	align-items: flex-start;
}
.a-end{
	align-items: flex-end;
}
.flex-column{
	flex-direction: column;
}
.flex-row{
	flex-direction: row;
}
.flex-wrap{
	flex-wrap: wrap;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.radius{
	border-radius: 50%;
}
.border-radius-8{
	border-radius: 8rpx;
}
.radius-circle{
  border-radius: 50000px;
}
.bg-bule{
	background: #49A7E4;
}
.text-white{
	color: white;
}
.height-80{
	height: 80rpx;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.bold{
	font-weight: bold;
}
.border-bottom{
	border-bottom: 1rpx solid #f4f4f5;
}
.border-top{
	border-top: 1rpx solid #f4f4f5;
}
.border-right{
	border-right: 1rpx solid #f4f4f5;
}
.border{
	border: 1rpx solid #f4f4f5;
}
.bg-white{
	background: #FFFFFF;
}
.min-height-100{
	min-height: 100vh;
}
.tabbar-bg{
	background: #49A7E4;
}
.page-bg{
	background: #E6E6E6;
}
.padding-lr-40{
	padding: 0 40rpx;
}
.flex-wrap{
	flex-wrap: wrap;
}
.text-blue{
	color: #479AFE;
}
.height-line-80{
	height: 80rpx;
	line-height: 80rpx;
}
.form-top .u-form-item{
	line-height: 40rpx !important;
}
.margin-b-20{
	margin-bottom: 20rpx;
}
.margin-l-10{
	margin-left: 10rpx;
}
.margin-l-30{
	margin-left: 30rpx;
}
.margin-r-20{
	margin-right: 20rpx;
}
.text-grey{
	color: #c8c9cc;
}
textarea::-webkit-scrollbar,
body::-webkit-scrollbar,
html::-webkit-scrollbar,
p::-webkit-scrollbar,
table::-webkit-scrollbar,
ul::-webkit-scrollbar,
li::-webkit-scrollbar,
td::-webkit-scrollbar,
tr::-webkit-scrollbar,
th::-webkit-scrollbar,
div::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: transparent;
    z-index: 2147483647;
}
/*滚动条的轨道*/
textarea::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track,
p::-webkit-scrollbar-track,
table::-webkit-scrollbar-track,
ul::-webkit-scrollbar-track,
li::-webkit-scrollbar-track,
td::-webkit-scrollbar-track,
tr::-webkit-scrollbar-track,
th::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track{
    background-color: transparent;
}
/*滚动条的滑块按钮*/
textarea::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb,
p::-webkit-scrollbar-thumb,
table::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
li::-webkit-scrollbar-thumb,
td::-webkit-scrollbar-thumb,
tr::-webkit-scrollbar-thumb,
th::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: #D8D8D8;
}
/*滚动条的上下两端的按钮*/
textarea::-webkit-scrollbar-button,
body::-webkit-scrollbar-button,
html::-webkit-scrollbar-button,
p::-webkit-scrollbar-button,
table::-webkit-scrollbar-button,
ul::-webkit-scrollbar-button,
li::-webkit-scrollbar-button,
td::-webkit-scrollbar-button,
tr::-webkit-scrollbar-button,
th::-webkit-scrollbar-button,
div::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-button{
    height: 0;
    background-color: transparent;
}

.ace-progress-bar{
  width: 124px;
  height: 6px;
  background: rgba(190,189,189,0.30);
  border-radius: 3px;
  display: inline-block;
  position: relative;

}
.ace-progress-bar>.ace-progress-bar-inner{
  height: 6px;
  border-radius: 3px;
  display: inline-block;
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 0.5s;
}
.ace-progress-bar>.ace-progress-bar-inner::after{
  content:'';
  position: absolute;
  right: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  border-radius: 50%;
  background: white;
}
.ace-progress-bar>.ace-progress-bar-inner>.ace-bar-val{
  position: absolute;
  top: -22px;
  right: -26px;
  font-family: PingFangSC-Semibold;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: right;
  line-height: 15px;
  height: 15px;
  padding: 0px 7px;
  display: inline-block;
  border-radius: 4px;
  height: 15px;
  padding: 0 6px;
  max-width: 38px;
  text-align: center;
  background: #514559;
}
.ace-progress-bar>.ace-progress-bar-inner>.ace-bar-val>.ace-bar-val-dian{
  content: "";
  position: absolute;
  display: inline-block;
  z-index: 100;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #514559;
  bottom: -4px;
  left: 1px;
}
