/* .anmition_show {
  animation: go_in_show 1s;
  -moz-animation: go_in_show 1s;
  -webkit-animation: go_in_show 1s;
}

@keyframes go_in_show {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }

  100% {
    transform: translateX(10%) !important;
    opacity: 1 !important;
    transition: all .6s ease;
  }
} */

.title_dlag {
  border-bottom: 1px solid #d2d2d2;
  padding: 10px;
  text-align: left;
}
