/* .anmition_show {
  animation: go_in_show 1s;
  -moz-animation: go_in_show 1s;
  -webkit-animation: go_in_show 1s;
}

@keyframes go_in_show {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }

  100% {
    transform: translateX(10%) !important;
    opacity: 1 !important;
    transition: all .6s ease;
  }
} */


.title_dlag {
  border-bottom: 1px solid #d2d2d2;
  padding: 10px;
  text-align: left;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

/* 新版附件详 */
.list-folder {
  color: orange;
  margin-right: 5px;
}

.no-padding {
  padding: 0 !important;
  border: none !important;
}

.tableFileList-title {
  padding: 5px 0;
  border-top: 1px solid #ddd;
  background: #f4faff;
}

.fileList-ul>li {
  padding-left: 10px;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}
