
.el-table__header{
  border-top:none!important;
}
table tr:nth-child(odd){
  background: #fff;
}
.el-table__row{
  border-bottom:1px solid #eee!important;
}
.el-table__body{
  border-collapse:collapse!important;
}
.blue{
  color: #79BDF0!important;
}
.red{
  color: #ff8a72 !important;
}
.pointer{
  cursor: pointer;
}

.orange{
  color:orange;
}
.editBtn{
  color:#49BAE8!important;
  border: none!important;
}
.el-button{
  border: 1px solid #DCDFE6;
}
 .formData .el-form-item{
  margin: 10px 0;
}
.formData .el-form-item__label {
  display: inline-block;
  text-align: right;
  width: 20%;
  vertical-align: top;
}
.formData .el-form-item__content{
  display: inline-block;
  margin-left: 10px!important;
  width: 82%;
}
.formData .el-form-item__content .el-input{
  width: 100%;
}
.itemTwo{
  width: 50%;
  display: inline-block;
}
.itemThree{
  width: 33%;
  display: inline-block;
}
.itemTwo .el-form-item__content{
  width: 60%;
}
.itemThree .el-form-item__content{
  width: 50%;
}
.search-form>.el-form-item{
  margin-left: 30px;
}
.inline-block{
  display: inline-block;
}
.no-padding{
  padding: 0!important;
  border: none!important;
}
.tableFileList-title{
  padding: 5px 0;
  border-top:1px solid #ddd;
  background: #F4FAFF;
}
.fileList-ul>li{
  padding-left: 10px;
  margin-bottom: 10px;
}
.el-input__inner::placeholder {
  color:#C1C1C1!important;
}
/* 谷歌 */
.el-input__inner::-webkit-input-placeholder {
  color:#C1C1C1!important;
}
/* 火狐 */
.el-input__inner:-moz-placeholder {
  color:#C1C1C1!important;
}
/*ie*/
.el-input__inner:-ms-input-placeholder {
  color:#C1C1C1!important;
}
::-webkit-input-placeholder {
  color:#C1C1C1!important;
}

