# 忽略Idea生成的项目文件
.idea/
*.iml

# 忽略node module的项目文件
node_modules/
dist/
*.zip
.env.development
vue.config.js

HELP.md
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/node_modules/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/

**/logs/
**/logs/
**/*.log
**/node_modules/
**/dist/
**/package-lock.json
**/.env.development
/wisdomaudit-vue/node_modules/
*.log

